# gradle working directory
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# ignore local logging configs
logback.xml

# MacOS thing
.DS_Store

# typically good to ignore anything named build
build

# we do not necessarily want to ignore all of these
# *.csv

# the below are typically data or config files
*.yaml
*.yml
*.conf
*.jnl
*.log
*.zip
*.tgz
*.properties

# needed for gradle-plugin
!app/carnival-gradle/src/main/resources/META-INF/gradle-plugins/edu.upenn.pmbb.carnival.properties

# do not ignore the docker-compose file
!docker-compose.yml

#do not ignore travis file
!.travis.yml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignoring Gradle wrapper properties file
!app/gradle/wrapper/gradle-wrapper.properties

# coveralls file
!.coveralls.yml

# this file contains connection parameters including usernames and passwords
dbconfig.yaml

# the target directory is an output directory
target

# this stuff is probably snuck in when the TURBO group was working in this repo
# carnival-core/.idea/*
# carnival-core/target-288snapshot

# we used to have the neo4j in the root directory... it has since been moved to data/graph
# neo4j

#
# the data includes both transient and non-transient data
# we want to track some of it
#

# ignore the data directory entirely by default
# carnival-core/data

# we want to ignore most data directories
#data/cache
#data/graph
#data/h2
#data/tmp/
#data/source

# include the source/readme which describes how the directory is to be used
#!data/source/readme.txt

# include the test data
!app/carnival-core/data/test
!app/carnival-core/data/test/*/*.yaml

# track the reference folder
!app/carnival-core/data/reference/*/*.csv

# not sure what these were about
# carnival-core/src/main/main.iml
# carnival-core/src/test/test.iml
# carnival-core/data/*_*

# java heap profiles
*.hprof

# pmbb graph workspace command line stuff
app/carnival-core/*.xlsx
app/carnival-core/*.csv
# code-assignments-report-config*

# transitional
# app/

# ignore files created in the tutorial directory
docs/groovy/**/*.csv
docs/groovy/**/*.yml

# ignore vi swap files
*.swp


# docker compose files
!docker-compose*.yml

# jekyll
.jekyll-cache
.sass-cache
_site
docs/node_modules

# might be created by tests that write files
app/carnival-clinical/data
app/carnival-core/data
