name: Carnival CI

on:
  push:
  workflow_dispatch:

jobs:
  test_runner:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    
    - name: Build testing container
      run: docker-compose -f ./docker-compose-test.yml build -m 8g
    
    - name: Run tests and publish coverage results
      run: | 
        echo $COVERALLS_REPO_TOKEN
        docker-compose -f docker-compose-test.yml run -w /appsrc/app app gradle test coveralls --console=plain --continue -Dtest.http=false
      env:
       COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}


